@import url("https://fonts.cdnfonts.com/css/bogart");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  /* overflow: hidden; */
  /* background-color: black; */
  /* background-image: url("images/blob.svg  "); */
  /* background-image: url("images/final-bg.svg");
  background-size: contain; */
}
.firstPage {
  height: 100vh;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  background-image: url("images/final-bg.svg");
  /* background-repeat: 0px; */
  background-repeat: no-repeat;
  background-size: cover;
}
.leftbody {
  height: 100vh;
  width: 52%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url("images/blob.svg"); */
  background-size: cover;
  /* padding-right: 200px; */
}
.rightbody {
  /* background-color: white; */
  height: 100vh;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* background-size: auto; */
  /* background-image: url("images/blob.svg"); */
}

.details {
  color: white;
}
.myimage {
  height: 537px;
  width: 567px;
  /* background-color: white; */
  margin-top: 90px;
  /* background-image: url("images/Suthesh-portfolio-pic.svg"); */
  background-image: url("images/Suthesh-portfolio-dino-swap.svg");
  /* background-position: center; */
  background-size: contain;
  background-repeat: no-repeat;
}
.myimage-2 {
  height: 537px;
  width: 567px;
  /* background-color: white; */
  margin-top: 90px;
  background-image: url("images/Suthesh-portfolio-pic.svg");
  /* background-image: url("images/Suthesh-portfolio-dino-swap.svg"); */
  /* background-position: center; */
  background-size: contain;
  background-repeat: no-repeat;
}
.hidden {
  display: none;
}

h1 {
  display: inline-block;
  font-family: "Dancing Script", cursive;
  /* font-optical-sizing: auto; */
  font-size: 100px;
  /* font-weight: <weight>; */
  font-style: normal;
}
h3 {
  font-family: "Josefin Sans", sans-serif;
}
.FirstName {
  height: 150px;
  width: auto;
  align-content: center;
  font-family: "Dancing Script", cursive;
  /* font-optical-sizing: auto; */
  font-size: 150px;
  /* font-weight: <weight>; */
  font-style: normal;
  padding-bottom: 30px;
  /* background-image:; */
}
.LastName {
  height: 110px;
  width: auto;
  font-family: "Dancing Script", cursive;
  /* font-optical-sizing: auto; */
  font-size: 100px;
  /* font-weight: <weight>; */
  font-style: normal;
}
.portfolio {
  height: 15px;
  font-size: 15px;
  padding-bottom: 50px;
}
.Bottom {
  height: 50px;
  width: auto;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  font-family: "Josefin Sans", sans-serif;
  /* font-optical-sizing: auto; */
  padding-top: 150px;
  font-weight: 600;
  font-style: italic;
}
.bottom1 {
  padding-right: 50px;
}
.bottom2 {
  padding-left: 50px;
}
.secondPage {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/second-bg.svg");
  background-size: cover;

  /* background-color: blue; */
}
